<nav class="clearfix">
    <h2 class="nav-text float-left mt-8">Glitter Text</h2>
    <div class="float-right">
        <p class="display-inline-block">Hello, <%= Helpers.current_user(session).username %>!</p>
        <a href="/drawings/new" class="button display-inline-block">+ New Drawing</a>
        <a href="/logout" class="button display-inline-block">Log out</a>
    </div>
</nav>
<h1 class="text-center mt-20 mb-20 pt-80">My Drawings</h1>
<div class="flex-container margin-center width-80-per">
    <% if !@drawings.empty? %>
        <% @drawings.all.each do |drawing| %>
        <div class="mt-20 drawing-small-container">
            <a href="/drawings/<%= drawing.id %>" class="text-center display-block">
            <div class="drawing-small" style="background-color: <%= drawing.theme.background_color %>; background-image: <%= drawing.theme.background_image %>;">
                <p class="text-small theme-text" style="color: <%= drawing.theme.text_color %>; font-family: <%= drawing.theme.font %>; text-shadow: -2px 2px 2px <%= drawing.theme.text_shadow_color %>;">
                    <%= drawing.content %>
                </p>
            </div>
            <p class="mt-20 mb-20"><%= drawing.title %></p>
            </a>
        </div>
        <% end %>
    <% else %>
        <p class="muted">No drawings yet! Add one now.</p>
    <% end %>
</div>