<style>
    .theme {
        background-color: <%= @drawing.theme.background_color %>;
		background-image: <%= @drawing.theme.background_image %>
    }
    .theme-text {
        color: <%= @drawing.theme.text_color %>;
    	font-family: <%= @drawing.theme.font %>;
		text-shadow: -2px 2px 2px <%= @drawing.theme.text_shadow_color %>;
    }
</style>

<nav class="clearfix">
    <h2 class="nav-back-text float-left mt-8"><a href="/">&#8656; Back to drawings</a></h2>
    <div class="float-right">
        <p class="display-inline-block">Hello, <%= Helpers.current_user(session).username %>!</p>
        <a href="/drawings/new" class="button display-inline-block">+ New Drawing</a>
        <a href="/logout" class="button display-inline-block">Log out</a>
    </div>
</nav>

<h1><%= @drawing.title %></h1>

<div class="container">
    <div class="drawing theme">
        <p class="text theme-text"><%= @drawing.content %></p>
    </div>
</div>