<style>
    .container {
        /*width: 500px; */
        /*height: 400px; */
        background-color: <%= @drawing.background_color %>;
        background-image: url(/images/<%= @drawing.background_effect %>);
    }
    
    .text {
        color: <%= @drawing.text_color %>; 
        text-shadow: -<%= @drawing.outline_width %>px <%= @drawing.outline_width %>px 4px <%= @drawing.outline_color %>; 
        font-size: 24px;
    }
</style>

<h1><%= @drawing.title %></h1>

<div class="container">
    <p class="text">
        <%= @drawing.content %>
    </p>
</div>